openapi: 3.1.0
info:
  title: Alchemy - Get Token Balance For Contract
  version: 1.0.0
  description: |
    JSON-RPC call that fetches the balance of a specific ERC-20 contract for a wallet. Mirrors the
    `get_token_balance_for_contract` coroutine in `sherpa/app/providers/alchemy.py`.
servers:
  - url: https://eth-mainnet.g.alchemy.com/v2/{apiKey}
    description: Alchemy Ethereum Mainnet endpoint. Replace `{apiKey}` with your key.
    variables:
      apiKey:
        default: YOUR_ALCHEMY_KEY
        description: Alchemy API key with Ethereum mainnet access.
paths:
  /:
    post:
      operationId: alchemyGetTokenBalanceForContract
      summary: Get the balance of a specific ERC-20 token
      description: Calls `alchemy_getTokenBalances` with a contract allowlist containing one token.
      tags:
        - Alchemy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - method
                - params
                - id
              properties:
                jsonrpc:
                  type: string
                  const: "2.0"
                method:
                  type: string
                  const: alchemy_getTokenBalances
                params:
                  type: array
                  minItems: 2
                  maxItems: 2
                  description: |
                    First element is the wallet address. Second element is an array of one or more
                    token contract addresses to query.
                  prefixItems:
                    - $ref: '#/components/schemas/EthereumAddress'
                    - type: array
                      minItems: 1
                      items:
                        $ref: '#/components/schemas/EthereumAddress'
                id:
                  type: integer
                  default: 1
            examples:
              default:
                value:
                  jsonrpc: "2.0"
                  method: alchemy_getTokenBalances
                  params:
                    - 0x00000000219ab540356cBB839Cbe05303d7705Fa
                    - - 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
                  id: 1
      responses:
        '200':
          description: JSON-RPC success envelope returning the requested token balance.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/JsonRpcSuccess'
                  - type: object
                    properties:
                      result:
                        type: object
                        required:
                          - tokenBalances
                        properties:
                          tokenBalances:
                            type: array
                            minItems: 1
                            items:
                              type: object
                              required:
                                - contractAddress
                                - tokenBalance
                              properties:
                                contractAddress:
                                  $ref: '#/components/schemas/EthereumAddress'
                                tokenBalance:
                                  type: string
                                  description: Hex-encoded balance in wei.
                                  example: "0xde0b6b3a7640000"
                                error:
                                  type: string
                                  nullable: true
              examples:
                success:
                  value:
                    jsonrpc: "2.0"
                    id: 1
                    result:
                      tokenBalances:
                        - contractAddress: 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
                          tokenBalance: "0x0"
        default:
          description: Error response from Alchemy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcError'
components:
  schemas:
    EthereumAddress:
      type: string
      pattern: ^0x[a-fA-F0-9]{40}$
      description: Checksummed Ethereum address.
    JsonRpcSuccess:
      type: object
      required:
        - jsonrpc
        - id
        - result
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 1
        result:
          description: Method-specific response payload.
          nullable: true
    JsonRpcError:
      type: object
      required:
        - jsonrpc
        - id
        - error
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 1
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: integer
            message:
              type: string
            data:
              description: Additional error diagnostic info from Alchemy.
              nullable: true
