openapi: 3.1.0
info:
  title: Alchemy - Get Token Metadata
  version: 1.0.0
  description: |
    JSON-RPC call that returns metadata for a single ERC-20 token. Mirrors the
    `get_token_metadata` coroutine in `backend/app/providers/alchemy.py`.
servers:
  - url: https://eth-mainnet.g.alchemy.com/v2/{apiKey}
    description: Alchemy Ethereum Mainnet endpoint. Replace `{apiKey}` with your key.
    variables:
      apiKey:
        default: YOUR_ALCHEMY_KEY
        description: Alchemy API key with Ethereum mainnet access.
paths:
  /:
    post:
      operationId: alchemyGetTokenMetadata
      summary: Get metadata for an ERC-20 token
      description: Calls `alchemy_getTokenMetadata` for a token contract address.
      tags:
        - Alchemy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - method
                - params
                - id
              properties:
                jsonrpc:
                  type: string
                  const: "2.0"
                method:
                  type: string
                  const: alchemy_getTokenMetadata
                params:
                  type: array
                  minItems: 1
                  maxItems: 1
                  prefixItems:
                    - $ref: '#/components/schemas/EthereumAddress'
                  items: false
                  description: Single-item array containing the token contract address.
                id:
                  type: integer
                  default: 1
            examples:
              default:
                value:
                  jsonrpc: "2.0"
                  method: alchemy_getTokenMetadata
                  params:
                    - 0xdAC17F958D2ee523a2206206994597C13D831ec7
                  id: 1
      responses:
        '200':
          description: JSON-RPC success envelope returning token metadata.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/JsonRpcSuccess'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/TokenMetadata'
              examples:
                success:
                  value:
                    jsonrpc: "2.0"
                    id: 1
                    result:
                      name: USD Coin
                      symbol: USDC
                      decimals: 6
                      logo: https://static.alchemyapi.io/images/token-logo/usdc.png
        default:
          description: Error response from Alchemy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcError'
components:
  schemas:
    EthereumAddress:
      type: string
      pattern: ^0x[a-fA-F0-9]{40}$
      description: Checksummed Ethereum address.
    TokenMetadata:
      type: object
      required:
        - name
        - symbol
        - decimals
      properties:
        name:
          type: string
        symbol:
          type: string
        decimals:
          type: integer
        logo:
          type: string
          format: uri
          nullable: true
        totalSupply:
          type: string
          nullable: true
          description: Hex quantity representing the token's total supply.
    JsonRpcSuccess:
      type: object
      required:
        - jsonrpc
        - id
        - result
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 1
        result:
          description: Method-specific response payload.
          nullable: true
    JsonRpcError:
      type: object
      required:
        - jsonrpc
        - id
        - error
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 1
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: integer
            message:
              type: string
            data:
              description: Additional error diagnostic info from Alchemy.
              nullable: true
