openapi: 3.1.0
info:
  title: Alchemy - Health Check
  version: 1.0.0
  description: |
    Lightweight availability probe used by Sherpa's `health_check` coroutine in
    `backend/app/providers/alchemy.py`. Confirms the API key works by calling `eth_chainId`.
servers:
  - url: https://eth-mainnet.g.alchemy.com/v2/{apiKey}
    description: Alchemy Ethereum Mainnet endpoint. Replace `{apiKey}` with your key.
    variables:
      apiKey:
        default: YOUR_ALCHEMY_KEY
        description: Alchemy API key with Ethereum mainnet access.
paths:
  /:
    get:
      operationId: alchemyHealthCheck
      summary: Check Alchemy availability
      description: Issues a GET request with `method=eth_chainId` to confirm the endpoint responds.
      tags:
        - Alchemy
      parameters:
        - name: method
          in: query
          required: true
          schema:
            type: string
            const: eth_chainId
      responses:
        '200':
          description: Chain ID response from Alchemy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  id:
                    type: integer
                    example: 1
                  result:
                    type: string
                    description: Hex-encoded chain ID (e.g., `"0x1"` for Ethereum mainnet).
                    example: "0x1"
        default:
          description: Error response from Alchemy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
